In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import LabelEncoder

from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.metrics import roc_auc_score, roc_curve, multilabel_confusion_matrix

In [3]:
df=pd.read_csv("exams.csv")
df.drop(["gender","race/ethnicity","parental level of education","lunch","test preparation course"],axis=1,inplace=True)
df

     math score  reading score  writing score  Total
0            67             67             63    197
1            40             59             55    154
2            59             60             50    169
3            77             78             68    223
4            78             73             68    219
..          ...            ...            ...    ...
995          73             70             65    208
996          85             91             92    268
997          32             35             41    108
998          73             74             82    229
999          65             60             62    187

[1000 rows x 4 columns]

In [4]:
def grade(x):
    if x>=0.75*300:
        return 1
    elif x>=0.6*300:
        return 2
    elif x>=0.55*300:
        return 3
    else:
        return 4

In [5]:
df["Grade"]=df["Total"].apply(grade)

In [6]:
df

     math score  reading score  writing score  Total  Grade
0            67             67             63    197      2
1            40             59             55    154      4
2            59             60             50    169      3
3            77             78             68    223      2
4            78             73             68    219      2
..          ...            ...            ...    ...    ...
995          73             70             65    208      2
996          85             91             92    268      1
997          32             35             41    108      4
998          73             74             82    229      1
999          65             60             62    187      2

[1000 rows x 5 columns]

In [7]:
df["Grade"].value_counts()

2    379
1    334
4    187
3    100
Name: Grade, dtype: int64

In [8]:
x=df.drop(["Total","Grade"],axis=1)
y=df["Grade"]

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1,stratify=y,test_size=0.3)

In [10]:
model=LogisticRegression(multi_class="ovr")
model.fit(x_train,y_train)

LogisticRegression(multi_class='ovr')

In [11]:
model.score(x_train,y_train)

0.8971428571428571

In [12]:
model.score(x_test,y_test)

0.8933333333333333

In [13]:
y_pred_test= model.predict(x_test)
y_pred_test

array([2, 1, 1, 4, 2, 2, 1, 4, 2, 2, 1, 4, 1, 1, 2, 1, 2, 2, 1, 4, 1, 1,
       4, 4, 1, 2, 1, 4, 2, 2, 2, 1, 4, 1, 2, 4, 1, 2, 2, 4, 2, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 2, 4, 1, 2, 1, 4, 4, 2, 4, 2, 1,
       2, 4, 2, 2, 1, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 1, 1, 1, 2, 1,
       4, 2, 2, 2, 1, 1, 2, 2, 4, 2, 4, 1, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2,
       1, 2, 2, 1, 2, 1, 1, 4, 1, 1, 2, 1, 4, 2, 4, 1, 4, 2, 2, 1, 2, 2,
       2, 1, 2, 2, 1, 2, 2, 2, 4, 1, 1, 1, 1, 2, 2, 1, 2, 2, 2, 4, 2, 2,
       1, 2, 2, 4, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 4, 2, 4, 1, 1, 2,
       1, 1, 1, 4, 1, 4, 2, 1, 4, 2, 1, 2, 4, 2, 2, 2, 1, 1, 2, 2, 1, 4,
       1, 2, 4, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 4, 1, 2, 1,
       2, 2, 2, 2, 1, 2, 4, 2, 2, 4, 1, 1, 4, 1, 1, 1, 1, 4, 1, 2, 1, 4,
       4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 1, 1, 2, 4, 4, 1, 1, 4, 1, 2, 1, 2,
       4, 2, 1, 1, 1, 4, 4, 2, 2, 4, 2, 2, 2, 1, 2, 4, 4, 2, 2, 1, 1, 1,
       4, 1, 2, 2, 4, 1, 2, 4, 2, 1, 2, 1, 2, 2], dtype=int64)

In [14]:
multilabel_confusion_matrix(y_test,y_pred_test)

array([[[198,   2],
        [  0, 100]],

       [[156,  30],
        [  2, 112]],

       [[270,   0],
        [ 30,   0]],

       [[244,   0],
        [  0,  56]]], dtype=int64)

In [15]:
print(classification_report(y_test,y_pred_test))

              precision    recall  f1-score   support

           1       0.98      1.00      0.99       100
           2       0.79      0.98      0.88       114
           3       0.00      0.00      0.00        30
           4       1.00      1.00      1.00        56

    accuracy                           0.89       300
   macro avg       0.69      0.75      0.72       300
weighted avg       0.81      0.89      0.85       300

C:\Users\admin\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\admin\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\admin\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [16]:
model.predict([[70,90,70]])[0]

1